body {
  text-align: center;
  font-family: helvetica;
  margin: 0 auto;
  max-width: 800px;
  background: url("http://i63.tinypic.com/rcln4m.jpg") ;
  color: black;
  background-size: tiled;
  background-position: center;
  }

div {
  height: auto;
  background-size: cover;
  margin: 0 auto;
  max-width: 600px;
  position: center;
  border-radius: 12px;
  padding: 20px;
  line-height: 20px;
  }


p {
  color: black;
  background: white;
  padding: 10px;
  text-align: justify;
  line-height: 28px;
  position: absolute;
  bottom: 0;
  margin: 0 auto;
  }

input {
  border: 0;
  padding: 10px;
  font-size: 12px;
  }

input[type="submit"] {
  background: red;
  color: white;
  }


h1    {
  color: cyan;
  font-size: 100px;
  background: white;
  margin: 40px 0px 0px 0px;
  border: 7px solid black;
  border-radius: 20px;
  }



h2 {
  font-size: 20px;
  color: green;
  background-color: orange;
  }

a {
  color: red;
  }



ul {
  padding: 10px;
  background: black;
  }

li {
  display: inline;
  padding: 0px 20px 0px 20px;
  }




  .bmi {
    background-color: white;
    width: 600px;
  }

  .info {
  background-color: white;
  width:600px;
    }

  .bpquiz {
  background-color: white;
  width:600px;
  }

  .mood {
  background-color: white;
  width:600px;
  }


@media (max-width: 500px) {
    h1 {font-size: 36px;
      }
    li {
      display: block;
      padding: 5px;
      }
    .bmi {
      background-color: white;
      width:100%;
      }

    .info {
      background-color: white;
      width:100%;
      }

    .bpquiz {
      background-color: white;
      width:100%;
      }

    .mood {
      background-color: white;
      width:100%;
      }

    }
